<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
{% load staticfiles %}
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock title %}</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />	
	<link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-grid-3.3.1.min.css' %}" />
	<link rel="stylesheet" href="{% static 'fonts/font-awesome-4.6.3/css/font-awesome.min.css' %}" />	
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/media.css' %}" />

</head>
<body>
	

	<!-- Header Start -->
	<header class="main-head">
		
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-md-12">

					
					
					<a class="logo" href="/">
						<img alt="kved.com.ua" src="{% static 'img/lantuh_logo.png' %}">
						
					</a>
					<div class="soc_buttons">					
					<strong>Поделиться :</strong>

		

				    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-599dae8704497af1"></script>
				    <div class="addthis_inline_share_toolbox"></div>		
					</div>
						
				</div>
				
			</div>

			<nav class="nav scroll bg-grey">
				<span class="nav-item">
		      <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}" >#Основное</a>
		      <a  href="#" >#Политика</a>
		      <a  href="#" >#Шоу-бизнес</a>
		      <a  class="{% if request.path == '/sport' %}active{% endif %}" href="{% url 'sport' %}" >#Спорт</a>
		      <a  class="{% if request.path == '/it' %}active{% endif %}" href="{% url 'it' %}" >#ИТ</a>
	      		</span>
	    	</nav>

		</div>
		
	</header>
		<nav class="nav scroll bg-grey">
			<span class="nav-item">
	      
      		</span>
    	</nav>
	<!-- Header End -->
	<nav class="nav scroll bg-grey">
		
	</nav>
	<div class="preloader"></div>
	<div id="adbd"></div>

	<!-- Content Start -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				
				<div class="col-md-8">

					

					<div class="pjax-container">
						
						
				{% block content %}
                {% endblock %}




				{% block pagination_cat %}
                {% endblock %}
		
					
					</div>

				</div>
				
					<aside class="site-aside">

				{% block search %}
				{% include 'twit/side.html'  %}
				{% include 'twit/stream.html' %}
				{% endblock search %}
				
					</aside>
				



			</div>


		</div>
	</div>
	<!-- Content End -->

	<!-- Footer Start -->
	<footer class="main-foot">
		<div class="container-fluid">
			<p>Каталог актуальных видов деятельности</p>
			2011-2017 &copy; kved.com.ua 
			
						
						
			
			<!-- Stats -->
			
			<!-- Google Analytics counter --><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41590820-1', 'auto');
  ga('send', 'pageview');

</script><!-- /Google Analytics counter -->
			
			<!-- Stats End -->

		</div>			
						
					

				
	</footer>
	<!-- Footer End -->

	

	
	



	
	
	
	<script src="{% static 'libs/jquery/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow88.js"></script>

</html>